<!-- <h1>Hello {{name}}</h1>

<input type="text" value="{{getName()}}"/>
<input type="text" value="{{getDesignation()}}"/>

<div>
  <input [class.blue-bg]="isBlueBG()" [hidden]="isHidden()" [disabled]="isDisabled()" [value]="personA.designation" placeholder="Enter text here"/>

  <br/>
  <button (click)="enableInput()">Change Designation</button>

  <br/>
  <button (click)="toggleHideFlag()">Toggle </button>

  <br/>
  <input type="checkbox" (click)="toggleHideFlag()">Toggle
</div>

<div>
  <br/><br/>
  <input type="text" #ref (keyup)=0/>
  <p>{{ref.value}}</p>
</div>

<div class="">
  <h3>Email</h3>
  <input type="text" name="name" #refe (keyup)="keyPress($event)"/>
  <p>{{refe.value}}</p>
</div>

<div class="">
  <h3>Email</h3>
  <input type="text" #refer (keyup.enter)="changeName(refer.value)"/>
  <p>{{refer.value}}</p>
</div> -->

<div  class="profile-div" style="overflow-x:auto;">
  <table class=" test profile-div-font profile-table"><tbody>
    <tr>
      <th style="width:5%">#</th><th style="width:18%">First Name</th><th style="width:15%">Last Name</th>
      <th style="width:15%">Date of Birth</th><th style="width:7%">Age</th>
      <th style="width:10%">Height</th><th style="width:10%">Weight</th><th style="width:10%">Activity</th>
      <th style="width:3%"></th>
    </tr>

    <tr *ngFor="let person of _customerProfiles; let idx = index" style="color:grey">
      <td>{{idx+1}}</td>
      <td>{{person.firstName}}</td>
      <td>{{person.lastName}}</td>
      <td>{{person.dateOfBirth | date}}</td>
      <td>{{person.age}}</td>
      <td>{{person.height}}</td>
      <td>{{person.weight}}</td>
      <td>{{person.activity}}</td>
      <td><img src="images/minus.png" alt="Delete" height="25" width="25" (click)="removeProfile(person)" #delImage (mouseover)="changeImage(delImage,'images/minusSel.gif')" (mouseout)="changeImage(delImage,'images/minus.png')"></td>
    </tr>
    <tr>
      <td>*</td>
      <td><input type="text" #firstName placeholder="First Name"/></td>
      <td><input type="text" #lastName placeholder="Last Name"/></td>
      <td><input type="date" #dob placeholder="DD / MM / YYYY" (focusout)="calculateAge(dob, age)"/></td>
      <td><input type="text" #age disabled=true placeholder="Age"/></td>
      <td><input type="text" #height placeholder="Height"/></td>
      <td><input type="text" #weight placeholder="Weight"/></td>
      <td><select #activity alt="Select">
            <option value="Less Active">Less Active</option>
            <option value="Moderately Active">Moderately Active</option>
            <option value="Highly Active">Highly Active</option>
          </select></td>
      <td><img src="images/plus.png" alt="Delete" height="26" width="26" (click)="addProfile(firstName, lastName,dob,age, height,weight,activity);" #addImage (mouseover)="changeImage(addImage,'images/plusSel.png')" (mouseout)="changeImage(addImage,'images/plus.png')"></td>
    </tr>
    </tbody>
  </table>
</div>
<!--div class="profile-div profile-div-font" style="overflow-x:auto;color:grey;">
  <table class="profile-div-font" style="color:grey;width:100%">
    <tr><th style="color:white">Add Profile</th></tr>
    <tr>
      <td>FirstName :<input type="text" #firstName placeholder="First Name"/></td>
    </tr>
    <tr>
      <td>LastName :<input type="text" #lastName placeholder="Last Name"/></td>
    </tr>
    <tr>
      <td>Date of Birth :<input type="date" #dob placeholder="DD / MM / YYYY"/></td>
    </tr>
    <tr>
      <td>Age :<input type="text" diasbled=true #age placeholder="Age"/></td>
    </tr>
    <tr>
      <td>Height :<input type="text" #height placeholder="Height"/></td>
    </tr>
    <tr>
      <td>Weight :<input type="text" #weight placeholder="Weight"/></td>
    </tr>
    <tr>
      <td>Activity :<select #activity>
            <option value="lessActive">Less Active</option>
            <option value="modActive">Moderately Active</option>
            <option value="highlyActive">Highly Active</option>
          </select></td>
    </tr>
  </table>
<button (click)="addProfile(firstName, lastName,dob,age, height,weight,activity);">Add</button>
</div-->
